{{template "base" .}}
{{define "title"}}Create a New Snippet{{end}}
{{define "main"}}

<div class="container">

  <!-- <form method="post" enctype="multipart/form-data" action="archive" onsubmit="return validateMyForm();" id="form-for-send-files"> -->
  <form method="post" enctype="multipart/form-data" action="archive" id="form-for-send-files">
    <div class="row">
      <div class="col">
        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
          <input type="file" id="input" name='input' multiple style="display:none" />
          <button id="fileSelect" type="button" class="btn btn-success">Select some files</button>
        </div>
      </div>

      <div class="col">
        <p>List of selected files:</p>
        <ul id="output"></ul>

        <!-- <p id="sizeok">false</p> -->
        <p>
          <label for="errors"></label>
          <output id="errors" style="color:red;"></output>
        </p>

        {{with .Form.Errors.Get "title" }}
        <p>
          <label class="errors" style="color:red;">{{.}} </label>
        </p>
        {{end}}
      </div>
    </div>

    <div class="row">

      <div class="col">

        <p>
          <label for="fileSize">Total size:</label>
          <output id="fileSize">0</output>
        </p>

        <p>
          <label for="maxFileSize">Max size:</label>
          <output id="maxFileSize">0</output>
        </p>

        <p>
          <label for="errors"></label>
          <output id="errors" style="color:red;"></output>
        </p>
      </div>

      <div class="col">

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="options" id="option1" value="1">
          <label class="form-check-label" for="option1">1 download</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="options" id="option2" value="2" checked>
          <label class="form-check-label" for="option2">3 hour</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="options" id="option3" value="3">
          <label class="form-check-label" for="option3">1 day</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="options" id="option4" value="4">
          <label class="form-check-label" for="option4">3 days</label>
        </div>

        <br>
        <br>

        <button id="submit" type="submit" class="btn btn-primary">save</button>

        <!-- <button id="submit">Submit</button> -->
      </div>
    </div>
  </form>
</div>

{{end}}