{{template "base" .}}
{{define "title"}}Create a New Snippet{{end}}
{{define "main"}}

<div class="container">

  <form method="post" enctype="multipart/form-data" onsubmit="return validateMyForm();" id="form-for-send-files">
    <div class="row">
      <div class="col">
        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
          <input type="file" id="input" name='input' multiple style="display:none" />
          <button id="fileSelect" type="button" class="btn btn-success">Select some files</button>
        </div>
      </div>

      <div class="col">
        <p>List of selected files:</p>
        <ul id="output"></ul>

        <!-- <p id="sizeok">false</p> -->
        <p>
          <label for="errors"></label>
          <output id="errors" style="color:red;"></output>
        </p>

        {{with .Form.Errors.Get "title" }}
        <p>
          <label class="errors" style="color:red;">{{.}} </label>
        </p>
        {{end}}
      </div>
    </div>

    <div class="row">

      <div class="col">

        <p>
          <label for="fileSize">Total size:</label>
          <output id="fileSize">0</output>
        </p>

        <p>
          <label for="maxFileSize">Max size:</label>
          <output id="maxFileSize">0</output>
        </p>

        <p>
          <label for="errors"></label>
          <output id="errors" style="color:red;"></output>
        </p>
      </div>

      <div class="col">
        <button id="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

{{end}}