{{template "base" .}}
{{define "title"}}Snippet{{end}}
{{define "main"}}

<form action="/archive/null" method="get" id="formFindArchive" onsubmit="handleClick()">
    <div>
        <label>Title:</label>
        <input type='text' name='find' id="archiveId" required minlength="6" maxlength="6">
        <input type="submit" value="Find" id="submitArchiveId" />
    </div>
</form>



<script>
    function handleClick() {
        const archiveId = document.getElementById("archiveId").value;
        document.getElementById("formFindArchive").action = ("/archive/" + archiveId);
    }

    function clickedButton() {
        const archiveId = document.getElementById("archiveId").value;
        window.location = "/archive/" + archiveId
    }


</script>
{{end}}