{{template "base" .}}
{{define "title"}}Snippet{{end}}
{{define "main"}}

{{with .File}}

<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-body">
                <!-- Download Button -->
                {{if .OneDownload}}
                <button id="downloadInput" class="btn btn-primary btn-lg w-100 mb-4 p-4"
                    onclick="location.href='/archive/download/{{.FileCode}}';document.getElementById('downloadInput').disabled=true;">
                    Download   
                    <img src="../static/img/OneTimeIcon.png" alt="Icon" width="20" height="20" class="me-2">
                </button>
                {{else}}
                <button id="downloadInput" class="btn btn-primary btn-lg w-100 mb-4 p-4"
                    onclick="location.href='/archive/download/{{.FileCode}}';">
                    Download
                </button>
                {{ end }}

                {{if not .Exist}}
                <script>
                    downloadInput = document.getElementById("downloadInput")
                    downloadInput.disabled = true
                </script>

                <h4 class="text-center text-secondary mb-4">File with code '<strong>{{.FileCode}}</strong>' does not
                    exist.</h2>

                {{else}}
                <!-- ZIP Name -->
                <h4 class="text-center text-secondary mb-4">File code: '<strong>{{.FileCode}}</strong>'</h2>


                <!-- File Link with Copy Button -->
                <div class="input-group mb-4">
                    <input type="text" class="form-control" id="fileLink" value={{.URL}} readonly>
                    <button class="btn btn-success" onclick="copyLink()">Copy</button>
                </div>


                <!-- File List -->
                <ul class="list-group mb-4">
                    {{ range .FileNameList }}
                    <li class="list-group-item">{{ . }}</li>
                    {{ end }}
                </ul>

                <!-- QR Code -->
                <div class="d-flex justify-content-center align-items-center border rounded p-4 bg-light">
                    <!-- Placeholder for QR Code -->
                    <img src="data:image/png;base64,{{.QRcodeBase64}}" alt="QR Code" class="qr-code"
                        onclick="toggleSize(this)">
                </div>
                {{ end }}
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js">
    </script>

    <script>
        function copyLink() {
            const fileLink = document.getElementById("fileLink").value;
            navigator.clipboard.writeText(fileLink).then(() => {
                alert("Link copied to clipboard!");
            }).catch(() => {
                alert("Failed to copy the link.");
            });
        }


        // Function to toggle the size of the image
        function toggleSize(image) {
            image.classList.toggle('enlarged');
        }
    </script>
</body>
{{end}}
{{end}}