{{template "base" .}}
{{define "title"}}Snippet{{end}}
{{define "main"}}
<p>
    show page
</p>

{{with .File}}
<div class="file">
    <div class="metadata">
        <strong>{{.FolderCode}}</strong>
    </div>

    <div>
        <strong>{{.Exist}}</strong>
    </div>




    {{if .Exist}}
    <a href="/archive/download/{{.FolderCode}}">Download</a>
    {{end}}


    <!-- <a href="/archive/download/{{.FolderCode}}" download="proposed_file_name">Download</a> -->

    <!-- {{if .Exist}}
    <button type="button" onClick="window.location.reload()">
        <a href="/archive/download/{{.FolderCode}}">Download</a>
     </button>
     {{end}} -->

</div>
{{end}}

{{end}}